<table class="table table-striped">
    <thead>
        <tr>
            <th>ISSN</th>
            <th>Name</th>
            <th>Type</th>
            <th>Foundation date</th>
            <th>Publishing house</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-template [ngIf]="loaded" [ngIfElse]="loading">
            <tr *ngFor="let item of periodicalList">
                <ng-template [ngIf]="periodical?.id != item.id" [ngIfElse]="edit">
                    <td>{{item.issn}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.type.name}}</td>
                    <td>{{item.foundation}}</td>
                    <td>{{item.publishingHouse?.shortInfo}}</td>
                    <td class="row-controls">
                        <button class="btn btn-sm btn-primary" (click)="editItem(item)"><span class="glyphicon glyphicon-edit"></span></button>
                        <button class="btn btn-sm btn-danger" (click)="delete(item)"><span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </ng-template>
            </tr>
        </ng-template>
        <tr>
            <ng-template [ngIf]="publishingHouse?.id != -1" [ngIfElse]="edit">
                <td colspan="8" class="create-new-item-row" (click)="create()"> <span class="glyphicon glyphicon-plus"></span> </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<ng-template #loading>
    <tr>
        <td colspan="8" class="text-center">
            <span class="glyphicon glyphicon-refresh gly-spin"></span>
        </td>
    </tr>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="periodical.issn" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="periodical.name" class="form-control" />
    </td>
    <td>
        <select [(ngModel)]="periodical.type.id" ng-model="periodical.type.id" class="form-control">
            <option selected="{{item.selected?'selected':''}}" *ngFor="let item of typeSelectList.items" value="{{item.value}}">{{item.text}}</option>
        </select>
        <!--<input type="text" [(ngModel)]="periodical.type.id" class="form-control" />-->
    </td>
    <td>

        <input type="text" [(ngModel)]="periodical.foundation" class="form-control" />
    </td>
    <td>
        <select [(ngModel)]="periodical.publishingHouse_Id" ng-model="periodical.publishingHouse_Id" class="form-control">
            <option selected="{{item.selected?'selected':''}}" *ngFor="let item of publishigHouseSelectList.items" value="{{item.value}}">{{item.text}}</option>
        </select>
    </td>

    <td class="row-controls">
        <div (click)="save()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-disk"></span></div>
        <div (click)="cancel()" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-remove"></span></div>
    </td>
</ng-template>
