body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.publication-row .controls {
    text-align: right
}

.publication-row > .controls > a.remove:hover {
    color: darkred;
}

.publication-row > .controls > a.remove {
    color: red;
}

.publication-row > .controls > a.edit:hover {
    color: blue;
}

.publication-row > .controls > a.edit {
    color: cornflowerblue;
}

#create-publication .controls {
    color: green;
    float: right;
}

td#add-publication {
    cursor: pointer;
    text-align: center;
}

.set-json-form {
    float: right;
}

.catalog-element {
    transition: background-color 0.5s ease;
    background: #e4e9eb;
    margin: 15px 0;
    padding: 0 15px;
    height: 100%;
    display: block;
    text-decoration: none;
    color: #6f859b;
    text-align: right;
    border: solid 2px #f2e8e2;
    border-radius: 3px;
}


    .catalog-element:hover {
        transition: all .25s ease;
        background-color: #c2c5cb;
        text-decoration: none;
    }


    .catalog-element:focus {
        text-decoration: none;
    }


    .catalog-element > h3 {
        text-align: left;
    }


.catalog-element-capation {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
